.nav-wrap {
  padding: 20px 0;
  position: relative;
  z-index: 3;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 31px;
}
.nav-links a {
  font-size: 14px;
  color: #4d5c55;
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--green);
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
  .nav .button {
    display: none;
  }
}
